<%- include("header.ejs") %>


<div class="amount-container">

    <a href="/checkout?amount=1000"><div class="amount-10">₹ 10</div></a>
    <a href="/checkout?amount=5000"><div class="amount-50">₹ 50</div></a>
    <a href="/checkout?amount=10000"><div class="amount-100">₹ 100</div></a>
    <a href="/checkout?amount=20000"><div class="amount-200">₹ 200</div></a>
    <a href="/checkout?amount=50000"><div class="amount-500">₹ 500</div></a>
    <a href="/checkout?amount=100000"><div class="amount-1000">₹ 1000</div></a>
    <a href="/checkout?amount=500000"><div class="amount-5000">₹ 5000</div></a>
    <a href="/checkout?amount=1000000"><div class="amount-10000">₹ 10000</div></a>

</div>