<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CsTrader</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fontawesome-free-6.6.0-web/css/font-awesome.min.css">
</head>

<body>
    <a href="/auth-steam" class="steambutton">
        <div>Login with STEAM</div> <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png">
    </a>
</body>

</html>